:root {
	--dark-mode-transition-speed: 0.5s;

	--border-color: black;
}
/* [dark-mode] :root {
} */
#app[dark-mode] {
	background: #141414;
	color: white;
	--border-color: white;
	--gray-tint-thin: #ffffff18;
	--gray-tint-medium: #ffffff44;
	--gray-tint-thick: #ffffff70;
}

[dark-mode] .inline-code {
	background: #333;
	/* color: white; */
}
[dark-mode] .preview-image {
	filter: invert();
}

/* [dark-mode] .ace-tm {
	background: #222;
} */


[dark-mode] a:-webkit-any-link {
	color: #00eeee;
}
[dark-mode] a:-webkit-any-link:visited {
	color: #dd00dd;
}




/* this could really use lesscss */
.dark-mode-transition,
.dark-mode-transition .ace_editor {
	transition:
		background var(--dark-mode-transition-speed),
		color      var(--dark-mode-transition-speed);
}

.dark-mode-transition .ace_gutter,
.dark-mode-transition .ace_gutter-cell,
.dark-mode-transition .inline-code {
	transition: background-color var(--dark-mode-transition-speed);
}
.dark-mode-transition .ace_line span,
.dark-mode-transition .ace_gutter-layer {
	transition: color var(--dark-mode-transition-speed);
}
.dark-mode-transition .ace_fold-widget {
	transition:
		background-color var(--dark-mode-transition-speed),
		box-shadow       var(--dark-mode-transition-speed);
}

.dark-mode-transition .preview-image {
	transition: filter var(--dark-mode-transition-speed);
}
.dark-mode-transition .checkbox {
	transition:
		background var(--dark-mode-transition-speed),
		border     var(--dark-mode-transition-speed);
}

.dark-mode-transition #header {
	transition:
		border-bottom var(--dark-mode-transition-speed),
		box-shadow    var(--dark-mode-transition-speed);
}
.dark-mode-transition #header .tab {
	transition: border-right var(--dark-mode-transition-speed);
}


/* this version doesn't work yet */
/* .dark-mode-transition,
.dark-mode-transition .ace_editor,
.dark-mode-transition .ace_gutter,
.dark-mode-transition .ace_gutter-cell,
.dark-mode-transition .inline-code,
.dark-mode-transition .ace_line span,
.dark-mode-transition .ace_gutter-layer,
.dark-mode-transition .ace_fold-widget,
.dark-mode-transition .checkbox {
	transition:
		background       var(--dark-mode-transition-speed),
		background-color var(--dark-mode-transition-speed),
		color            var(--dark-mode-transition-speed),
		border           var(--dark-mode-transition-speed),
		box-shadow       var(--dark-mode-transition-speed);
}

.dark-mode-transition .preview-image {
	transition: filter var(--dark-mode-transition-speed);
} */
