body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}
:root {
	--gray-tint-thin: #00000018;
	--gray-tint-medium: #00000044;
	--gray-tint-thick: #00000070;
}
#app {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: column nowrap;
}
#header {
	width: 100%;
	display: flex;

	border-bottom: 1px solid var(--border-color);
	box-shadow: 0 0 0.5ex #0004;
}



#header .tab {
	font-size: 1.5em;
	padding: 0.5ex;
	border-right: 1px solid var(--border-color);
	cursor: pointer;
}
#header .tab:hover {
	background: var(--gray-tint-thin);
}



::-webkit-scrollbar {
	/* background: lime; */
	/* width: 100px;
	height: 10px; */
}
::-webkit-scrollbar-track {
	background: red;
}
::-webkit-scrollbar-thumb {
	background: cyan;
}


.hidden {
	display: none;
}
